.list-none{
    list-style: none;
}
ul{
    padding: 0;
}
input[type*="checkbox"]{
    height: 25px;
    width: 25px;
    accent-color: green;
}
.search-bar{
    width: 75%;
}
body{
    background: url('./bg.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    /* color: rgba(255, 255, 255, 0.465); */
}
@media only screen and (max-width:768px){
    .search-bar{
        width: 100%;
        margin-top: 5px;
    }
}